<% provide(:title, "About") %>

<h1>About</h1>
<p>
  Right now we're just following along with the
  <a href="http://www.railstutorial.org">Ruby on Rails Tutorial</a>
  . We should probably think about customizing this page sometime soon!
</p>
