<% provide(:title, "Help") %>

<h1>Help</h1>
<p>This site doesn't have very much going on yet,
  I'm not even sure what you could need help with! Here's a link that might be more useful to you:
  <a href="http://www.google.com"><em>Here try this site</em></a>
</p>
